@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root{
    --pri-pink:hsl(322, 100%, 66%);
    --pri-lPink:hsl(321, 100%, 78%);
    --pri-lRed:hsl(0, 100%, 63%);
    --ntrl-vdCyan:hsl(192, 100%, 9%);
    --ntrl-vpBlue:hsl(207, 100%, 98%);
}
/* *GENERAL */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
}
img{
    margin: 2rem;
}
h1{
    font-size: 3rem;
    margin: 0;
}
button:hover{
    filter: brightness(1.2);
}
/* *HEADER */
header{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
}
.logo{
    padding: 0rem;
    margin: 1rem;
    text-align: left;
}
.logo img{
    margin: 0;
}
.logo button{
    border: solid 1px var(--pri-pink);
    border-radius: 32px;
    padding: 0.5rem 1rem;
    background-color: white;
    color: var(--pri-pink);
    float: right;
}
.logo button:hover{
    background-color: var(--pri-pink);
    color: #fff;
    border: 0px solid;
}
/* *MAIN */
main{
    padding: 3rem;
}
main h2{
    font-size: 2rem;
}
main button{
    margin-top: 2rem;
    border: solid 1px var(--pri-pink);
    border-radius: 32px;
    padding: 0.8rem 2.5rem;
    font-weight: 600;
    background-color: var(--pri-pink);
    color: white;
}
.screen{
    max-width: 350px;
}
/* *ACCOLADES */
.formed{
    margin: 3rem;
}
.msg{
    margin: 3rem;
}
.accolades img{
    margin: 0;
    max-width: 24px;
    position: relative;
    right: 3rem;
}
/* *Sections */
section, article{
    padding: 4.3rem;
}
section img{
    margin: auto;
    padding: 2rem 0rem;
    max-width: 350px;
}
.community button{
    margin-top: 2rem;
    border: solid 1px var(--pri-pink);
    border-radius: 32px;
    padding: 0.8rem 2.5rem;
    font-weight: 600;
    background-color: var(--pri-pink);
    color: white;
}
/* *FOOTER */
picture, picture img{
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100vw ;
}
footer{
    background-color: var(--ntrl-vdCyan);
    color: white;
    padding: 1rem;
    margin: 0rem;
    text-align: left;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
}
footer p,header{
    margin: 0rem 2rem;
    line-height: 1.5;
}
footer p >img{
    margin: 0rem 1rem;
}
footer svg{
    padding: 1rem 2rem;
}
.news{
    padding: 2rem;
}
.news header{
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.news p{
    padding: 1rem 0rem;
}
.news input{
    padding: 1rem 2rem;
    margin: 0rem 2rem;
}
.news button{
    margin-top: 2rem;
    border: solid 1px var(--pri-pink);
    border-radius: 10px;
    padding: 1rem 1.3rem;
    font-weight: 600;
    background-color: var(--pri-pink);
    color: white;
}
.etc{
    padding: 2rem;
}
.etc p{
    padding: .5rem 0rem;
}
/* *DESKTOP */
@media only screen and (min-width:769px){
    .logo{
        font-size: 2rem;
        margin: 1rem 3rem;
        padding: 1rem;
    }
    .logo button{
        padding: 1rem 2.5rem;
    }
    main{
        display: flex;
        margin: 2rem 3rem;
        padding: 1rem;
    }
    main h2{
        font-size: 2.5rem;
    }
    .screen{
        max-width: 50%;
    }
    .accolades{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .accolades h1{
        font-size: 5rem;
    }
    .grow,.convos,.users{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 1rem 3rem;
        padding: 1rem;
    }
    .grow header, .convos header, .users header{
        margin: 0;
    }
    .users img,.grow img{
        grid-area: 1/2/1/2;
    }
    .txt{
        text-align: left;
        justify-self: center;
        align-self: center;
    }
    .community{
        margin: 5rem 0rem;
    }
    .community button{
        padding: 1rem 6rem;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .news{
        grid-area: 1/2/1/2;
    }
}